@import "../utils/Variables";
@import "../utils/Mixins";

body {
    font-family: $font-family;
    margin: 0;
    padding: 0;
    background-color: $secondary-color;
    color: $text-color;
  }
  
  h1, h2 {
    margin: 0;
    color: $primary-color;
  }
  